@tailwind base;
@tailwind components;
@tailwind utilities;
@font-face {
  font-family: 'ValorantFont';
  src: url('../../public/fonts/ValorantFont.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

.h2SectionOne {
  @apply font-bold  text-[4rem] cursor-default;
}
